@using Samwel.Models;
@model Company
@{
    ViewData["Title"] = $"Edit {Model.Name} Company ";
}
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> Edit @Model.Name Company </h2>
            </div>
        </div>
    </div>
    <!--
             public string Name { get; set; }
        public string? StreetAddress { get; set; }
        public string? City { get; set; }
        public string? State { get; set; }
        public string? PostalCode { get; set; }

        public string? PhoneNumber { get; set; }
        -->
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">

                <div class="form-floating  py-2 col-12">
                    <input asp-for="Name" class="form-control  border-0 shadow" />

                    <label class="ms-2" asp-for="Name"></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating  py-2 col-12">
                    <input asp-for="StreetAddress" class="form-control  border-0 shadow" />
                    <label class="ms-2" asp-for="StreetAddress">Street Address</label>
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>

                </div>
                <div class="form-floating  py-2 col-12">
                    <input asp-for="City" class="form-control  border-0 shadow" />
                    <label class="ms-2" asp-for="City"></label>
                    <span asp-validation-for="City" class="text-danger"></span>

                </div>
                <div class="form-floating  py-2 col-12">
                    <input asp-for="State" class="form-control  border-0 shadow" />
                    <label class="ms-2" asp-for="State"></label>
                    <span asp-validation-for="State" class="text-danger"></span>

                </div>
                <div class="form-floating  py-2 col-12">
                    <input asp-for="PostalCode" class="form-control  border-0 shadow" />
                    <label class="ms-2" asp-for="PostalCode">Postal Code</label>
                    <span asp-validation-for="PostalCode" class="text-danger"></span>

                </div>
                <div class="form-floating  py-2 col-12">
                    <input asp-for="PhoneNumber" class="form-control  border-0 shadow" />
                    <label class="ms-2" asp-for="PhoneNumber">Phone Number</label>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-success form-control">Edit  </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Company" asp-action="Index" class="btn btn-outline-secondary border form-control ">Back</a>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
@*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
*@


@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
 }

