@model int

<div class="container row pt-4">
	<div class="col-12 text-center">
		<h1>Order Placed Successfuly</h1>
		Your order number is : @Model.ToString() <br /> <br />
		<img src="~/Images/lawn_leaf.jpg" width="65%" />
	</div>
	<div class="col-12 text-center " style="color:maroon">
		<br />
		Your order has been Palced Successfuly <br />
		<a asp-area="Admin" asp-controller="Order" class="btn btn-primary" asp-route-id="@Model" asp-action="Details">Back </a>
	</div>
</div>


